html * {
	font-family: sans-serif;
}

html {
	background-image: url("../images/bat.gif");
}

h1 {
	font-size: 140%;
}

h2 {
	font-size: 140%;
}

h3 {
	font-size: 110%;
}

#biggest {
	padding-top: 0%;
	font-size: 200%;
	font-weight: 900;
	//color: orange;
	//font-style: italic;
	//text-shadow: 2px 2px black;
}

h1 span {
	font-size: 230%;
}

header img {
	float: left;
	padding-right: 2%;
	padding-top: 4%;
	padding-left: 2%;
}

a {
	color: orange;
	font-weight: bold;
}

a:hover {
	color: green;
}

ul li {
	line-height: 130%;
}

footer {
	text-align: center;
	font-size: 90%;
	border-top: solid black;
	border-bottom: solid black;
	background: white;
	background: -webkit-linear-gradient(-130deg, white, orange 66%, black);
	background: -o-linear-gradient(-130deg, white, orange 66%, black);
	background: -moz-linear-gradient(-130deg, white, orange 66%, black);
	background: linear-gradient(-130deg, white, orange 66%, black);
	clear: both;
}

body {
	border-left: solid black;
	margin-left: 2%;
	width: 800px;
	background: white;
	border-style: solid;
	box-shadow: 0px 5px 20px 15px;
}

#background {
	z-index: -1;
}

header {
	border-bottom: solid black;
	border-top: solid black;
	background: white;
	background: -webkit-linear-gradient(45deg, white, orange 66%, black);
	background: -o-linear-gradient(45deg, white, orange 66%, black);
	background: -moz-linear-gradient(45deg, white, orange 66%, black);
	background: linear-gradient(45deg, white, orange 66%, black);
}

main {
	padding-top: 2%;
	padding-left: 2%;
}

section {
	float: right;
	width: 550px;
}

aside {
	float: left;
	padding-right: 50px;
	width: 160px;
}

article {
	margin: 0px;
	float: right;
	width: 550px;
}