.navbar-nav {
	display: inline-block;
	float: none;
}

.footercenter {
	text-align: center;
}

*{
	font-family: 'Mukta', sans-serif;
}

img {
	border: solid #368bd1;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-header > a:hover {
	color: black;
	background-color: #bcaf4d;
}

.current a {
	color: black;
	background-color: #d8cb6a;
}

.currentpage {
	color: black;
	background-color: #d8cb6a;
}

.centered {
	text-align: center;
}